#IGNORAR A PASTA  DE CONFIGURAÇÃO DO VSCODE
.vscode/

#IGNORAR UMA PASTA CHAMADA "TEMPORARIA" E O SEU CONTEÚDO
temporaria/

#IGNORAR SUBPASTAS
imagens/preview/
imagens/outrapasta/

#IGNORAR UM ARQUIVO ESPECÍFICO
pagina2.html

#IGNORAR UM ARQUIVO ESPECÍFICO
pagina3.html

#NÃO IGNORAR O ARQUIVO MESMO QUE EXISTA UMA REGRA
!pagina3.html


#NÃO IGNORAR O ARQUIVO MESMO QUE EXISTA UMA REGRA
#REGRA ANTERIOR
!imagens/preview/logomarca.png

#IGNORAR ARQUIVOS QUE TERMINEM COM A EXTENSÃO .TEST -> EXEMPLO: AULA.TEST
*.test 

#IGNORAR ARQUIVOS .PDF DENTRO DA PASTA DETALHES/RELATÓRIOS OU SEJA, IGNORAR OS ARQUIVOS DENTRO DA SUBPASTA RELATÓRIOS, QUE ESTÁ DENTRO DA PASTA
#DETALHES
DETALHES/RELATÓRIOS/*.PDF